.mainContainer{
  height: 100vh;
  background-color: #000;
  position: relative;

  > img{
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
  }

  .floatingContainer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
  }
}